@charset "UTF-8";
body
{
	width:900px;
	background-color:#ffffff;
	margin:auto;
	padding: 10px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	
}
img#logo
{
	padding-top:50px;
	display: block;
	margin: auto;
	
	
}
ul#lista
{
	width:700px;
	margin: 0 auto;
	padding:50px;
	list-style:none;
	overflow: hidden;
}
ul#lista li
{
	float:left;	
	width:200px;
	height:200px;
	margin:15px;
	
}
ul#lista li span
{
	opacity:0;
	color:#ffffff;
	text-shadow:1px 1px #000000;
	background-color:rgba(0,0,0,.3);
	line-height:360px;
	padding:5px;
}
ul#lista li:hover span
{
	opacity:1;
}

ul#lista li#html
{
	background: url("imgs/logos/html5.png") no-repeat;
	background-size:200px 200px;
	background-position:50% 50%;
	
}
ul#lista li#css
{
	background: url("imgs/logos/css3.png")no-repeat;
	background-size:200px 200px;
	background-position:50% 50%;
	
}
ul#lista li#js
{
	background: url("imgs/logos/js.png")no-repeat;
	background-size:200px 200px;
	background-position:50% 50%;
	
}


/* fim da lista*/
p{
	text-align: center;
	font-size: 30pt;
	padding-top:100px;
}
ul#trabalhos
{
	display:block;
	width:900px;
	margin: auto;
	padding:50px;
	list-style:none;
	overflow: hidden;
	
}
ul#trabalhos li
{
	float:left;	
	width:400px;
	height:400px;
	margin:10px;
	padding-top:50px;
}
ul#trabalhos li#t1
{
	background:url("imgs/logos/js.png") no-repeat;
	background-size:380px 380px;
	background-position:50% 50%;
	margin:auto;
}
ul#trabalhos li#t2
{
	background:url("imgs/logos/js.png") no-repeat;
	background-size:380px 380px;
	background-position:50% 50%;
	margin:auto;
}


/*Contato*/
a
{	
	diplay:block;
	position:relative;
	left:48%;
}

/*Jogo da velha*/
ul#jogo
{
	width:700px;
	margin: 0 auto;
	padding:50px;
	list-style:none;
	overflow: hidden;
	
}
ul#jogo li
{
	float:left;	
	width:100px;
	height:100px;
	margin:10px;
	padding-top:50px;
	border:1px solid rgba(0,0,0,1);
}